div#map_canvas {
	display: block;
	margin: auto;
	width: 100%;
	height: 500px;
}

h2 {
	text-align: center;
	color: white;
	font-family: fantasy;
	margin-top: 100px;
}

input {
	display: block;
	width: 75%;
	padding: 4px 10px;
}

textarea {
	width: 75%;
}

span.send {
	background: gray;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: fantasy;
	border-radius: 4px;
	border: 1px double white;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 81%;
	padding: 5px;
}

#mask {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 999;
	overflow: none;
}

/* You can customize to your needs  */
.popup {
	display: none;
	background: #333;
	padding: 10px;
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
}

img.btn_close {
	float: right;
	margin: -28px -28px 0 0;
}

fieldset.textbox {
	border: none;
	margin: auto;
}

form.signin .textbox label {
	display: block;
	padding: 0px;
}

form.signin .textbox label span#log {
	display: block;
	padding: 0;
	margin: 0;
}

form.signin p,form.signin span#log {
	color: #999;
	font-size: 11px;
}

form.signin p {
	margin: 0px;
	margin-top: 10px;
}

form.signin span#log_msg {
	font-size: 13px;
	width: 200px;
}

form.signin .textbox input {
	background: #666666;
	border-bottom: 1px solid #333;
	border-left: 1px solid #000;
	border-right: 1px solid #333;
	border-top: 1px solid #000;
	color: #fff;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 6px 6px 4px;
	width: 200px;
	margin: 0;
}

form.signin input:-moz-placeholder {
	color: #bbb;
	text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
	color: #bbb;
	text-shadow: 0 0 2px #000;
}

form.signin button {
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3),
		to(#dddddd));
	background: -o-linear-gradient(top, #f3f3f3, #dddddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3',
		EndColorStr='#dddddd');
	border-color: #000;
	border-width: 1px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	padding: 6px 6px 4px;
	margin-top: 10px;
	font: 12px;
	width: 214px;
}

form.signin button:hover {
	background: #ddd;
}

img.btn_close2 {
	float: right;
	margin: -30px -28px 0 0;
}
div.subpage {
	position: absolute;
	top: 60px;
	left: 0;
	display: none;
	background-color: #333;
	width: 100%;
}

ul.sub_mypage {
	list-style-type: none;
	display: inline-block;
	margin-left: 100px;
	width: 620px;
}

ul.sub_mypage li a.sm {
	display: block;
}

ul.sub_mypage li a.sm:hover {
	color: #DE5E60 !important;
}

ul.sub_mypage li.selected a.sm {
	color: #DE5E60 !important;
}

/* mypage form*/
div.mypage_div {
	width: 100%;
	height: 750px;
	background-color: #1a1a1a;
	display: none;
}

div.mypage_c {
	width: 800px;
	margin: auto;
	border-radius: 20px;
}

.mypage_div div.mypage_f {
	width: 700px;
	margin: auto;
	height: 600px;
	padding-top: 100px;
}
.mypage_div div.mypage_f_list{
	width: 900px;
	margin: auto;
	height: 700px;
	padding-top: 30px;
}
div.mypage_f_list #mypageOrderList{
	overflow: auto;
	
}
.mypage_div div.mypage_f_favor{
	width: 900px;
	margin: auto;
	height: 700px;
	padding-top: 30px;
}
div.mypage_f_favor #mypageFavorList{
	overflow: hidden;
}
.mypage_div div.mypage_f label {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin-left: 70px;
	margin-right: 10px;
	width: 150px;
	margin-bottom: 30px;
}

.mypage_div div.mypage_f input {
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid #1a75ff;
	width: 250px;
	margin: 0;
}

.mypage_div div.mypage_f input.postcode {
	width: 70px;
}

div.mypage_f input.postaddr,div.mypage_f input.postaddr2 {
	width: 400px;
}

div.mypage_f span.mypage_btn {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

div.mypage_f button {
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3),
		to(#dddddd));
	background: -o-linear-gradient(top, #f3f3f3, #dddddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3',
		EndColorStr='#dddddd');
	border-color: #000;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
	padding: 6px 6px 4px;
	font: 12px;
	font-weight: bold;
}

div.mypage_f button.postbtn {
	width: 50px;
	height: 35px;
	margin-left: 20px;
	font-size: 15px;
	text-align: center;
}

div.mypage_f button.update {
	width: 130px;
	height: 40px;
	font-size: 20px;
}

div.mypage_f button.cancle {
	width: 130px;
	height: 40px;
	font-size: 20px;
}